<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--加载配置数据库配置文件-->
    <!--<properties resource="db.properties"/>-->
    <!--给相应的类型起别名，简化缩写-->
    <typeAliases>
        <typeAlias type="Entity.Admin" alias="admin"/>
        <typeAlias type="Entity.User" alias="user"/>
    </typeAliases>
    <!--数据库环境配置-->
    <!--设置一个默认的数据库连接环境-->
    <!--<environments default="mysql_environment">-->
        <!--&lt;!&ndash;连接环境信息&ndash;&gt;-->
        <!--<environment id="mysql_environment">-->
            <!--&lt;!&ndash;mybatis使用jdbc的事务管理方式&ndash;&gt;-->
            <!--<transactionManager type="jdbc"></transactionManager>-->
            <!--&lt;!&ndash; mybatis使用连接池方式来获取连接 &ndash;&gt;-->
            <!--<dataSource type="POOLED">-->
                <!--&lt;!&ndash;数据库的信息配置&ndash;&gt;-->
                <!--<property name="driver" value="${mysql.driver}"/>-->
                <!--<property name="url" value="${mysql.url}"/>-->
                <!--<property name="username" value="${mysql.username}"/>-->
                <!--<property name="password" value="${mysql.password}"/>-->
            <!--</dataSource>-->
        <!--</environment>-->
    <!--</environments>-->

    <!--加载映射文件-->
    <mappers>
        <mapper resource="Entity/AdminMapper.xml"/>
        <mapper resource="Entity/UserMapper.xml"/>
    </mappers>

</configuration>